.image {
  width: 250px;
  height: 180px;
  object-fit: contain;
  padding: 3px;
  border: 1px solid;
}

.product {
  width: 40vw;
  height: 300px;
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  display: flex;
  gap: 10px;
}

.button {
  background: #ff9f00;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  padding: 3px 5px;
  border-radius: 3px;
}
